<div class="filterArea">
    <mat-form-field>
        <mat-label>Select board size:</mat-label>
        <mat-select [(value)]="selectedBoardSize" (selectionChange)="newBoardSizeSelected()">
            <mat-option *ngFor="let boardSize of boardSizeList" [value]="boardSize">{{boardSize}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div class="tableWrapper">
    <table>
        <tr *ngFor="let row of boardConfig">
            <td *ngFor="let cell of row" class="cell" [attr.id]="cell"></td>
        </tr>
    </table>
    <div class="endgame">
        <div class="text"></div>
    </div>
</div>