<mat-grid-list cols="3">
    <mat-grid-tile (click)="onCellClicked(1)">{{tile1}}</mat-grid-tile>
    <mat-grid-tile (click)="onCellClicked(2)">{{tile2}}</mat-grid-tile>
    <mat-grid-tile (click)="onCellClicked(3)">{{tile3}}</mat-grid-tile>
    <mat-grid-tile (click)="onCellClicked(4)">{{tile4}}</mat-grid-tile>
    <mat-grid-tile (click)="onCellClicked(5)">{{tile5}}</mat-grid-tile>
    <mat-grid-tile (click)="onCellClicked(6)">{{tile6}}</mat-grid-tile>
    <mat-grid-tile (click)="onCellClicked(7)">{{tile7}}</mat-grid-tile>
    <mat-grid-tile (click)="onCellClicked(8)">{{tile8}}</mat-grid-tile>
    <mat-grid-tile (click)="onCellClicked(9)">{{tile9}}</mat-grid-tile>
</mat-grid-list>