<mat-grid-list cols="3">
    <mat-grid-tile>
        <button [disabled]="tile1Disabled" (click)="onCellClicked(1)">
            {{tile1}} 
        </button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button [disabled]="tile2Disabled" (click)="onCellClicked(2)">
            {{tile2}} 
        </button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button [disabled]="tile3Disabled" (click)="onCellClicked(3)">
            {{tile3}} 
        </button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button [disabled]="tile4Disabled" (click)="onCellClicked(4)">
            {{tile4}} 
        </button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button [disabled]="tile5Disabled" (click)="onCellClicked(5)">
            {{tile5}} 
        </button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button [disabled]="tile6Disabled" (click)="onCellClicked(6)">
            {{tile6}} 
        </button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button [disabled]="tile7Disabled" (click)="onCellClicked(7)">
            {{tile7}} 
        </button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button [disabled]="tile8Disabled" (click)="onCellClicked(8)">
            {{tile8}}
        </button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button [disabled]="tile9Disabled" (click)="onCellClicked(9)">
            {{tile9}} 
        </button>
    </mat-grid-tile>
</mat-grid-list>